html {
  font-family: sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

h1 a {
  color: black;
  text-decoration: none;	
}

.nav {
  margin-bottom: 1em;	
}

.error {
  border: dotted red 3px;
  text-align: center;
  padding: 1em;
}

.item {
  margin-bottom: 1em;
}
.item_title {
  font-style: italic;
  font-weight: bold;	
}
.item_added_modified {
  color: silver;
}
.fulltext{
  color: red;
  font-weight: bold;	
}